[Unit]
Description=Attach serial device to bluez stack
ConditionPathIsDirectory=/proc/device-tree/soc/gpio@7e200000/bt_pins
Before=bluetooth.service
After=dev-ttyAMA0.device

[Service]
Type=simple
ExecStart=btattach -B /dev/ttyAMA0 -P bcm -S 921600 -N

[Install]
WantedBy=multi-user.target
